*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: black;
    height: 500px;
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: white;
        text-align: center;
        padding-top: 150px;
    }
}